{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Sign In</h1>
            
            <p class="text-center">If you have not created an account yet, then please
            <a href="{% url 'accounts:signup' %}">sign up</a> first.</p>

            <form method="POST" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Sign In</button>
            </form>
        </div>
    </div>
</div>
{% endblock %} 