{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="allauth-container custom-card p-4">
                <h1 class="text-center mb-4">{% trans "Sign Out" %}</h1>
                
                <p class="text-center mb-4">{% trans 'Are you sure you want to sign out?' %}</p>

                <form method="post" action="{% url 'account_logout' %}" class="text-center">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button type="submit" class="btn custom-btn custom-btn-primary">
                        {% trans 'Sign Out' %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 