<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Confirm Your Newsletter Subscription</title>
</head>
<body>
    <h2>Please Confirm Your Newsletter Subscription</h2>
    <p>Thank you for subscribing to our fitness newsletter. To complete your subscription, please click the confirmation link below:</p>
    
    <p><a href="{{ confirmation_url }}">Confirm Subscription</a></p>
    
    <p>If you did not request this subscription, please ignore this email.</p>
    
    <p>This link will expire in 24 hours.</p>
    
    <p>Best regards,<br>The Fitness Team</p>
</body>
</html> 